__pycache__/Graficos.cpython-38.pyc
tempCodeRunnerFile.py
untitled.ui
untitled2.ui
__pycache__/IA.cpython-38.pyc
/Regresion/*
Pipfile.lock
__pycache__/Reader.cpython-38.pyc
__pycache__/Regresion.cpython-38.pyc
